<mat-card-content>
  <mat-card-header class="mat_card_header">
    <div mat-card-avatar>
      <mat-icon matTooltip="{{ diarioActividades }}">table_chart</mat-icon>
    </div>
    <mat-card-title><strong>{{ diarioActividades }}</strong></mat-card-title>
  </mat-card-header>
  <mat-card>
    <div>

      <mat-form-field>
        <mat-label>Pick a time</mat-label>
        <input matInput [matTimepicker]="picker"  [(ngModel)]="hora">
        <mat-timepicker-toggle matIconSuffix [for]="picker" />
        <mat-timepicker #picker />
      </mat-form-field>
      <input [(ngModel)]="actividad" placeholder="Escribe una actividad" />
      <button (click)="registrarActividad(hora)">Registrar</button>

    </div>
    <ul>
      <li *ngFor="let act of actividades">{{ act.hora }} - {{act.horas}} - {{ act.actividad }}</li>
    </ul>

  </mat-card>
</mat-card-content>
