<div class="container">
<p>gestion-principal works!</p>
<div class="container">
<button *ngIf="rolUsuario  == 'ROLE_USER'"
  type="button"
  data-toggle="modal"
  class="btn btn-success btn-round btn-fab btn-sm"
  matTooltip="Registrar Pacientes"
  [matTooltipPosition]="'below'"
  (click)="openModalRegistro(ModalRegistro)"
>
  <mat-icon>add</mat-icon>
</button>

<!--Modal para registrar pacientes-->
<ng-template #ModalRegistro let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Registrar</h2>

    <button
      mat-raised-button
      type="button"
      class="close"
      aria-label="Close"
      (click)="cerrarModal(ModalRegistro)"
    >
      <span aria-hidden="true">&times;</span>
    </button>


  </div>
  <div class="modal-body">
    <form
      [formGroup]="formRegistro"
      class="form"
      (submit)="registrar()"
      novalidate
    >
      <div class="row">
        <div class="col">

          <mat-form-field hintLabel="Max 10 caracteres">
            <mat-label>Nombres</mat-label>
            <input matInput #nombres required="true" formControlName="nombres" />
          </mat-form-field>

          <div *ngIf="formRegistro.controls['nombres'].errors">
            <mat-error
              *ngIf="formRegistro.controls['nombres'].errors?.required"
            >
              <p style="color: F44336">Debe ingresar datos.</p>
            </mat-error>
          </div>
        </div>

        <div class="col">

          <mat-form-field hintLabel="Max 10 caracteres">
            <mat-label>Apellidos</mat-label>
            <input matInput #nombres required="true" formControlName="apellidos" />
          </mat-form-field>

          <div *ngIf="formRegistro.controls['apellidos'].errors">
            <mat-error
              *ngIf="formRegistro.controls['apellidos'].errors?.required"
            >
              <p style="color: F44336">Debe ingresar datos.</p>
            </mat-error>
          </div>
        </div>

        <div class="col">
          <label id="example-radio-group-label">Sexo</label>
          <mat-radio-group
            formControlName="sexo"
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="sex"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let cont of listaSex"
              [value]="cont"
            >
              {{ cont }}
            </mat-radio-button>
          </mat-radio-group>
          <div>Seleccione uno</div>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>País de residencia</mat-label>
            <mat-select formControlName="pais" placeholder="Taller">
              <mat-option style="z-index: 99999;" *ngFor="let ite of paises" [value]="ite.codigo"
                >{{ ite.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formRegistro.controls['pais'].errors?.required">
              <span> Se debe seleccionar una pa&acuoteis </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field color="accent">
            <mat-label>Fecha Nacimiento</mat-label>
            <input
              readonly="true"
              required="true"
              matInput
              [matDatepicker]="picker1"
              formControlName="fechaNacimiento"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker1
              color="primary"
            ></mat-datepicker>

            <mat-error
              *ngIf="
              formRegistro.controls['fechaNacimiento'].errors
                  ?.required
              "
            >
              Se debe seleccionar una fecha
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="xxxx@example.com"
            />
            <mat-error> Ingrese un email valido! </mat-error>
            <mat-error>
              Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Documento</mat-label>
            <input
              formControlName="documento"
              matInput
              type="number"
              #inputC
              placeholder="Documento de identidad"
              required="true"
            />
            <mat-error
              *ngIf="
              formRegistro.controls['documento'].errors
                  ?.required
              "
            >
              Se debe ingresar un teléfono de contacto
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-label>Ocupaci&oacute;n</mat-label>
          <mat-form-field hintLabel="Max 10 caracteres">
            <input matInput #nombres formControlName="ocupacion" />
          </mat-form-field>

          <div *ngIf="formRegistro.controls['ocupacion'].errors">
            <mat-error
              *ngIf="formRegistro.controls['ocupacion'].errors?.required"
            >
              <p style="color: F44336">Debe ingresar datos.</p>
            </mat-error>
          </div>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input
              formControlName="telefono"
              matInput
              type="number"
              #inputC
              placeholder="Número de teléfono"
            />
            <mat-error
              *ngIf="
              formRegistro.controls['telefono'].errors
                  ?.required
              "
            >
              Se debe ingresar un teléfono de contacto
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <button [disabled]="formRegistro.invalid" class="btn btn-primary btn-sm" type="submit">Crear</button>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button (click)="cerrarModal(ModalRegistro)">
      Cerrar
    </button>
  </div>
</ng-template>

</div>

</div>
